[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
requests = "*"
flask = "*"
gunicorn = "*"
pusher = "*"
python-decouple = "*"
bcrypt = "*"
flask-bcrypt = "*"
flask-login = "*"
pyjwt = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
flask-script = "*"
flask-migrate = "*"
psycopg2-binary = "*"
dotenv = "*"
sqlalchemy = "*"

[requires]
python_version = "3.7"
